<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713478320680-d5ucm5eiopp5ctnat5clbag59hocvs1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713478320680-d5ucm5eiopp5ctnat5clbag59hocvs1k</string>
	<key>API_KEY</key>
	<string>AIzaSyClh5lpyCGLKYLs4XGyokYCSp0mTwCCkno</string>
	<key>GCM_SENDER_ID</key>
	<string>713478320680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myFlutter.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-cf74a</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-cf74a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713478320680:ios:524348ab597e7c6d05bb1d</string>
</dict>
</plist>